.notification-page {
    .notifications {
        max-height: 100%;

        li {
            padding: 15px 10px;
            margin-bottom: 5px;

            img {
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}

.notifications {
    $height: 55px;
    $items: 5;

    min-width: 400px;
    width: 100%;
    max-height: ($height * $items) + 10;
    overflow-y: scroll;

    li {
        background-color: white;
        border-left: 3px solid transparent;

        &.unseen {
//            background-color: $active-color-light;
//            border-left-color: $primary-color;
        }
    }

}
