.shoutMap {
    @include scrollbars(0, transparant, transparant)
}
.shout{
    &:last-child {
        margin-bottom: 64px !important;
    }

    .comments {
        margin-top: -27px;
    }
    .more {
        position: relative;
        border-radius: 50%;
        font-size: 24px;
        height: 32px;
        margin-left: 0;
        margin-right: 0;
        min-width: 32px;
        width: 32px;
        padding: 0;
        overflow: hidden;
        line-height: normal;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-12px,-12px);
            line-height: 24px;
            width: 24px;
        }

        color: #616161;

        &:hover {
            background-color: rgba(158,158,158,.2);
        }
    }

    &-progress{
        position: absolute;
        bottom: 0;
        width: 100%;

        .progress {
            margin: 0;

            .determinate {
                transition: width 1s linear;
            }
        }
    }

    .avatar{
        @extend .responsive-img;
        @extend .circle;

        vertical-align: middle !important;
        margin-right: 10px;
    }

    &__action-items {
        display: inline-block;
        float: left;
        margin: 0;

        li {
            margin-left: 20px;
            display: inline-block;

            .material-icons {
                font-size: 16px;
                vertical-align: middle;
                margin-top: -2px;
                margin-left: 5px;
            }
        }
    }
}
