.shout{
    &-progress{
        position: absolute;
        bottom: 0;
        width: 100%;

        height: 11px;
    }

    .avatar{
        @extend .responsive-img;
        @extend .circle;

        vertical-align: middle !important;
        margin-right: 10px;
    }
}
