//@include scrollbars(1em, color("green")); // Tryable...

body {
    font-family: $font-family;
    font-size: $font-size;
    background-color: whitesmoke;

    overflow-y: scroll;
}

.justify-content {
    text-align: justify;
    text-justify: inter-word;
}
